---
layout: default
---

<div class="home">

  <div class="work">
    <h2>Data Visualization</h2>
    {% for data-viz in site.portfolio.data-viz limit:3 %}
    <div class="data-viz">
      <div class="data-viz-thumb">
        <a href="{{ data-viz.url | prepend: site.baseurl }}">
          <img src="{{ data-viz.thumbnail-path }}" alt="{{ data-viz.title }}"/>
        </a>
      </div>
      <div class="data-viz-description">
        <a href="{{ data-viz.url | prepend: site.baseurl }}"><strong>{{ data-viz.title }}</strong></a>
        <p>{{ data-viz.short-description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="work">
    <h2>Multimedia</h2>
    {% for multimedia in site.portfolio.multimedia limit:3 %}
    <div class="multimedia">
      <div class="multimedia-thumb">
        <a href="{{ multimedia.url | prepend: site.baseurl }}">
          <img src="{{ multimedia.thumbnail-path }}" alt="{{ multimedia.title }}"/>
        </a>
      </div>
      <div class="multimedia-description">
        <a href="{{ multimedia.url | prepend: site.baseurl }}"><strong>{{ multimedia.title }}</strong></a>
        <p>{{ multimedia.short-description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="work">
    <h2>Print and Web Design</h2>
    {% for design in site.portfolio.design limit:3 %}
    <div class="design">
      <div class="design-thumb">
        <a href="{{ design.url | prepend: site.baseurl }}">
          <img src="{{ design.thumbnail-path }}" alt="{{ design.title }}"/>
        </a>
      </div>
      <div class="design-description">
        <a href="{{ design.url | prepend: site.baseurl }}"><strong>{{ design.title }}</strong></a>
        <p>{{ design.short-description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>


  <div class="work">
    <h2>Writing and Editing</h2>
    {% for writing in site.portfolio.writing-editing limit:3 %}
    <div class="writing">
      <div class="writing-thumb">
        <a href="{{ writing.url | prepend: site.baseurl }}">
          <img src="{{ writing.thumbnail-path }}" alt="{{ writing.title }}"/>
        </a>
      </div>
      <div class="writing-description">
        <a href="{{ writing.url | prepend: site.baseurl }}"><strong>{{ writing.title }}</strong></a>
        <p>{{ writing.short-description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="posts">
    <h2 class="post-header">My Posts</h2>
    <ul>
      {% for post in paginator.posts %}
      <li class="post-teaser">
        <header>
          <h3>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}
            </a>
          </h3>
          <p class="meta">
            {{ post.date | date: "%B %-d, %Y" }}
          </p>
        </header>
        <div class="excerpt">
          {{ post.excerpt | | strip_html | strip_newlines | truncate: 120 }}
        </div>
        <a href="{{ post.url | prepend: site.baseurl }}">
          {{ site.theme_settings.str_continue_reading }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_prev }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
